.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: rgb(19, 19, 19);
}

.links, .left-links {
    display: flex;
    align-items: center;
}

.right-links {
    margin-left: auto; /* Lägger till detta för att skjuta .right-links till höger */
    display: flex;
    align-items: center;
}

.links a, .left-links a, .right-links a, .right-links span, .right-links button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.right-links button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.left-links span, .left-links button {
    color: white; /* Sätter textfärgen till vit */
    font-size: 15px; /* Matchar fontstorleken för länkarna */
    margin-right: 10px; /* Justera avståndet efter behov */
    cursor: pointer; /* Gör så att muspekaren blir en pekare */
}

.left-links button {
    background: none; /* Tar bort bakgrund */
    border: none; /* Tar bort kantlinje */
    padding: 0; /* Tar bort padding */
}

/* Du kan behöva lägga till :hover effekter för button för att matcha dina länkar */
.left-links button:hover {
    color: #ccc; /* Exempel på hover-effekt, justera färgen efter din design */
}


